body {
  background-color: black;
  background-image: url("CobblestoneWallpaper.png");
  background-repeat: no-repeat;
  background-size: cover;
}

p {
  color: rgb(0, 255, 255);
  text-shadow: 1.4px 1.4px rgb(0, 0, 0);
  font-size: 26px;
  font-weight: bold;
}
